
body{
  background-color: rgb(80, 69, 69)!important;
}


.contact-bg {
    background-color: rgb(80, 69, 69)!important;
}

.project-body {
  background-color: rgb(247, 245, 243)!important;
}

.bg-header{
  background-image: url("./image/header.jpg");
  color:antiquewhite;
  height: 100px;
}

.bg-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.my-modal {
  width: 90vw;    /* Occupy the 90% of the screen width */
  max-width: 90vw;
} 